#faq
  div
    div#page-2.container.page-transition
      img(src="assets/img/logo.png")
      h2.title FAQ
      a.link-faq.close(href="#")
        i.mdi.mdi-close
      .content
        hr
        for item, key in faq.items
          h2.question= key
          h3.description!= item

    #loader.pageload-overlay(data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z")
      svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none")
        path(d="M30,30 50,30 50,30 30,30 Z")

    div#page-3.container.page-transition
      img(src="assets/img/logo.png")
      h2.title Regras
      a.link-rules.close(href="#")
        i.mdi.mdi-close
      .content
        hr
        Regras

    #loader.pageload-overlay(data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z")
      svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none")
        path(d="M30,30 50,30 50,30 30,30 Z")
