doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='author' content='')
    meta(name='revisit-after' content='5 days')

    meta(property='og:locate' content='')
    meta(property='og:title' content='')
    meta(property='og:site_name' content='')
    meta(property='og:url' content='')
    meta(property='og:image' content='')
    meta(property='og:type' content='website')
    meta(property='og:description' content='')

    meta(name='twitter:card' content='summary')
    meta(name='twitter:title' content='')
    meta(name='twitter:description' content='')
    meta(name='twitter:image' content='')
    meta(name='twitter:site' content='')

    link(rel='stylesheet' href='assets/css/style.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700')
    link(rel='stylesheet' href='components/mdi/css/materialdesignicons.min.css' media='all')
    link(rel='stylesheet' href='components/owl-carousel2/dist/assets/owl.carousel.css')
    link(rel='stylesheet' href='components/owl-carousel2/dist/assets/owl.theme.default.css')

    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    link(rel='icon' href='favicon.ico' type='image/x-icon')

    script(src="components/jquery/dist/jquery.min.js")
    script(src='components/owl-carousel2/dist/owl.carousel.js')
    script(src="assets/script/carousel.js")

    title Bitkup
  body
    header.head
      .head__bg
        .wrapper
          .head__row
            .head__cell
              a.logo(href='index')
                img(src='assets/img/logo.png')
              a.head-btn(href='')
                svg#Layer_1.head-btn__open(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='100px', height='100px', viewbox='0 0 100 100', enable-background='new 0 0 100 100', xml:space='preserve')
                      g
                        path(fill='#ffffff', d='M75.157,32.733c0,1.398-1.133,2.532-2.532,2.532H27.433c-1.398,0-2.532-1.133-2.532-2.532l0,0\
                        c0-1.398,1.133-2.532,2.532-2.532h45.192C74.023,30.202,75.157,31.335,75.157,32.733L75.157,32.733z')
                        path(fill='#ffffff', d='M75.157,49.084c0,1.398-1.133,2.532-2.532,2.532H27.433c-1.398,0-2.532-1.133-2.532-2.532l0,0\
                        c0-1.398,1.133-2.532,2.532-2.532h45.192C74.023,46.552,75.157,47.686,75.157,49.084L75.157,49.084z')
                        path(fill='#ffffff', d='M75.157,65.434c0,1.398-1.133,2.532-2.532,2.532H27.433c-1.398,0-2.532-1.133-2.532-2.532l0,0\
                        c0-1.398,1.133-2.532,2.532-2.532h45.192C74.023,62.903,75.157,64.036,75.157,65.434L75.157,65.434z')
                        g
                          g
                            path(fill='#ffffff', d='M50.029,0C22.399,0,0,22.399,0,50.029s22.399,50.029,50.029,50.029s50.029-22.399,50.029-50.029\
                            S77.659,0,50.029,0z M50.029,95.078c-24.88,0-45.049-20.169-45.049-45.049S25.149,4.98,50.029,4.98s45.049,20.169,45.049,45.049\
                            S74.909,95.078,50.029,95.078z')

            .head__cell
              ul.head-nav
                li
                  a(href='') Como Funciona?
                li
                  a(href='') Nossa Plataforma
                li
                  a(href='') Ligas
                li
                  a(href='') Esportes
                li
                  a(href='') Regras
                li
                  a(href='') FAQ
                li
                  a(href='') Ajuda
                //li.dropdown
                //  .dropdown-active
                //    .dropdown-active__icon
                //    .dropdown-active__text Language
                //  ul.dropdown__body
                //    li
                //      a(href='/') EN
                //    li
                //      a(href='/pt-br/') PT-BR
                //    li
                //      a(href='/es/') ES
          if current.source == 'index'
            .banner
              h1.banner__title A Bitkup é um jogo que permite os fãs de esportes a prever o resultado de jogos usando Bitcoin.
              p.banner__subtitle Preveja corretamente os placares e dispute quantidades <strong>INSANAS</strong> de Bitcoin.
              div
                ul.banner__list
                  li
                    a(href='').btn.btn--lrg.btn--white COMO FUNCIONA?
                  li
                    a(href='').btn.btn--lrg.btn--blue SOLICITAR ACESSO BETA

    != yield

    footer.foot
      .wrapper
        ul.foot-nav
          li
            foot-copy Bitkup &copy; 2013 - 2015
          li
            a(href="") Termos de Uso
          li
            a(href="") Política de Privacidade
          li
            a(href="") Imprensa
          li
            a(href="") Ajude na tradução
          li
            a(href="") 100% Open-Source

        ul.foot-social
          li
            a(href='')
              i.mdi.mdi-twitter
          li
            a(href='')
              i.mdi.mdi-facebook
          li
            a(href='')
              i.mdi.mdi-google-plus
