#beta.newsletter
  .newsletter__bg
    .wrapper
      h1= beta.title
      form.newsletter-form(method="POST" action="")
        span.input.input--minoru
          input#input_13.input__field.input__field--minoru(type='text')
          label.input__label.input__label--minoru.input__label--minoru-color-1(data-content='Email' for='input_13')
            span.input__label-content.input__label-content--minoru(data-content='Email') Email
        br
        button.btn.btn-1.btn-1e.animated.fadeInUp
          span= beta.button

