.main
  include _news

  #works.feature
    .wrapper
      h1 COMO FUNCIONA?
      p A Bitkup é uma nova e excitante alternativa para o entretenimento esportivo. Seus palpites valem muito mais que você imagina! Use todo o conhecimento esportivo, estratégia e sorte para tentar acertar o maior número de resultados, os melhores classificados em cada ranking ganham pontos que podem ser trocados por bitcoin no final de cada evento.
      .feature__row
        .feature__cell
          .feature-item
            img(src='assets/img/works/1.png').feature-item__img
            h2.feature-item__title Cadastre-se e comece a jogar
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .feature__cell
          .feature-item
            img(src='assets/img/works/2.png').feature-item__img
            h2.feature-item__title Selecione um pacote de créditos
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .feature__cell
          .feature-item
            img(src='assets/img/works/3.png').feature-item__img
            h2.feature-item__title Faça seus chutes e acumule pontos
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .feature__cell
          .feature-item
            img(src='assets/img/works/4.png').feature-item__img
            h2.feature-item__title Resgate seus Bitcoins em segundos
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  #platform.feature
    .wrapper
      h1 NOSSA PLATAFORMA
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .feature__row
        .feature__cell
          .feature-item
            img(src='http://placehold.it/120x120').feature-item__img
            h2.feature-item__title Anonymous
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .feature__cell
          .feature-item
            img(src='http://placehold.it/120x120').feature-item__img
            h2.feature-item__title Simple
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .feature__cell
          .feature-item
            img(src='http://placehold.it/120x120').feature-item__img
            h2.feature-item__title Blockchain Garanted
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .feature__cell
          .feature-item
            img(src='http://placehold.it/120x120').feature-item__img
            h2.feature-item__title Safe
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  #whatis.whatis
    .wrapper
      h1 O QUE É BITCOIN?
      iframe(width='560' height='315' src='https://www.youtube.com/embed/Gc2en3nHxA4?showinfo=0' frameborder='0' allowfullscreen='')

  #beta.newsletter
    .newsletter__bg
      .wrapper
        h1 SOLICITAR ACESSO BETA
        p Lorem ipsum dolor sit amet.
        form.newsletter-form
          input(type='text' placeholder='Your email').newsletter-form__input
          button(type='submit').newsletter-form__btn Subscribe
