.main
  include _works

  span.divider.btn--platform
    i.mdi.mdi-chevron-down

  include _platform

  span.divider.btn--worldcup
    i.mdi.mdi-chevron-down

  include _faq

  span.divider.btn--whatis
    i.mdi.mdi-chevron-down

  include _video
  include _newsletter
