.main
  include _news
  .about
    .wrapper
      h1 About

  .feature
    h1 Our Platform
    .wrapper
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      .feature__row
        .feature__cell
          .feature-item
            img(src='http://placehold.it/120x120').feature-item__img
            h2.feature-item__title Anonymous
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .feature__cell
          .feature-item
            img(src='http://placehold.it/120x120').feature-item__img
            h2.feature-item__title Simple
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .feature__cell
          .feature-item
            img(src='http://placehold.it/120x120').feature-item__img
            h2.feature-item__title Blockchain Garanted
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .feature__cell
          .feature-item
            img(src='http://placehold.it/120x120').feature-item__img
            h2.feature-item__title Safe
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  .whatis
    .wrapper
      h1 What is Bitcoin?
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      iframe(width='560', height='315', src='https://www.youtube.com/embed/iQJl8I08FjU', frameborder='0', allowfullscreen='')

  .newsletter
    .wrapper
      h1 Newsletter
      p Lorem ipsum dolor sit amet.
      form.newsletter-form
        input(type='text' placeholder='Your email').newsletter-form__input
        button(type='submit').newsletter-form__btn Subscribe

  .press
    .wrapper
      h1 Press
