span.divider.btn--home
  i.mdi.mdi-chevron-up
script(src="#{ site_js }faq.js")

footer.foot
  .row.middle-xs.center-xs
    .col-xs-6.middle-xs
      br
      h2 LANDING-TEMPLATE
      ul.foot-nav
        li
          a.link-faq(href='#') FAQ
        li
          a(href="https://github.com/cesardeazevedo/landing-template" target='_blank') Github
      ul.foot-social
        li
          a(href='#')
            i.mdi.mdi-twitter
        li
          a(href='#')
            i.mdi.mdi-facebook
        li
          a(href='#')
            i.mdi.mdi-google-plus
        li
          a(href='https://github.com/cesardeazevedo/landing-template' target='_blank')
            i.mdi.mdi-github-circle
