.banner
  padding: 70px 0
  text-align: center

.banner__img
  display: inline-block
  margin-bottom: 12px
  max-width: 100%

.banner__title
  background: rgba(#000, .4)
  color: #fff
  display: inline-block
  font-size: 33px
  font-weight: 300
  padding: 3px 12px

.banner__subtitle
  background: rgba(#000, .4)
  display: inline-block
  font-size: 18px
  font-weight: 300
  padding: 3px 6px

.banner__list
  display: inline-block
  list-style: none
  margin: 0
  > li
    display: inline-block
    margin: 0 6px
    > a
      display: block
