.btn
  border-width: 1px
  border-style: solid
  display: inline-block
  padding: 12px 24px
  &:hover
    text-decoration: underline

.btn--lrg
  padding: 16px 24px

.btn--white
  border-color: #ccc
  color: #666
  &:hover
    background: darken(#fff, 4%)

.btn--blue
  background: #113e7a
  border-color: #113e7a
  color: #fff
  &:hover
    background: darken(#113e7a, 4%)
