.feature
  padding: 100px 0
  text-align: center

.feature__row
  display: flex
  flex-direction: column
  +media-query(desk)
    flex-direction: row

.feature__cell
  display: flex
  width: 100%
  justify-content: center;

.feature-item__title
  font-size: 18px
