.foot
  +gradient(#333, lighten(#222, 5%))
  background-repeat: repeat
  color: #fff
  padding: 48px 0
  height: 300px
  a
    color: #fff
    &:hover
      color: #ddd
      text-decoration: underline
  *
    color: #fff
  .row
    height: 100%

.foot-social
  font-size: 28px
  list-style: none
  > li
    display: inline-block
    padding: 0 12px

.foot-nav
  list-style: none
  margin-left: 0
  > li
    display: inline-block
    padding: 0 6px
