.head
  background: url(../img/bg2.jpg) no-repeat center
  background-size: cover
  background-attachment: fixed
  color: #fff
  font-size: 14px
  > .wrapper
    +cf
    position: relative

.head__bg
  background: url(../img/noise.png) repeat, rgba(#000, .4)
  padding: 18px 0
  +media-query(desk)
    padding: 36px 0

.head__row
  +media-query(desk)
    display: table
    width: 100%

.head__cell
  +media-query(desk)
    display: table-cell
    vertical-align: middle

.head-btn
  display: block
  float: right
  > svg
    display: block
    height: 34px
    width: 34px
  +media-query(lap)
    > svg
      height: 38px
      width: 38px
  +media-query(desk)
    display: none

.head-nav
  background: #f7f7f7
  border: 1px solid rgba(#000, .08)
  //display: none
  line-height: 1
  list-style: none
  margin: 18px 0 0
  width: 100%
  > li
    border-bottom: 1px dotted rgba(#000, .08)
    > a
      color: #fff
      display: block
      padding: 12px
      &:hover
        background: #6187ad
        color: #fff
    &:last-child
      border-bottom: none
  +media-query(desk)
    background: transparent
    border: none
    display: block
    float: right
    margin-top: 0
    width: auto
    > li
      border-bottom: none
      float: left

.head-nav--open
  display: block

.logo
  > img
    width: 172px
