.head
  background: url(../img/bg2.jpg) no-repeat center
  background-size: cover
  color: #fff
  font-size: 16px
  position: relative
  > .wrapper
    position: relative

.head__bg
  background: url(../img/noise.png) repeat, rgba(#000, .4)

.head__row
  //position: fixed
  //margin-bottom: 50px
  transition: all 0.3s ease
  width: 100%
  z-index: 1000
  +media-query(desk)
    display: table
    top: 0px
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)

.head__alt
  background: rgba(69, 172, 108, 0.95)
  border-color: #E8E9ED
  border: none
  position: fixed
  .head__brand
    padding: 12px 0
  .head-nav
    > li
      > span, a
        padding-top: 30px
        padding-bottom: 30px

        &:hover
          box-shadow: inset 0px -3px 0px 0px #fff

.head__brand
  float: left
  padding-top: 30px
  -webkit-transition: padding 0.3s ease
  -o-transition: padding 0.3s ease
  transition: padding 0.3s ease

.head__right
  float: right

.head__cell
  position: relative
  width: 100%
  z-index: 100
  +media-query(desk)
    display: table-cell
    vertical-align: middle
    width: auto

.head-btn
  display: block
  float: right
  > svg
    display: block
    height: 34px
    width: 34px
  +media-query(lap)
    > svg
      height: 38px
      width: 38px
  +media-query(desk)
    display: none


.head-nav
  background: #f7f7f7
  border: 1px solid rgba(#000, .08)
  display: none
  font-size: 14px
  line-height: 1
  list-style: none
  margin: 0
  width: 100%
  > li
    border-bottom: 1px dotted rgba(#000, .08)
    > span, a
      cursor: pointer
      color: #fff
      display: block
      padding-left: 20px
      padding-right: 20px
      padding-top: 50px
      padding-bottom: 50px
      transition: all .25s ease
      &:hover
        box-shadow: inset 0px -3px 0px 0px rgb(69, 172, 108)
    &:last-child
      border-bottom: none
  +media-query(desk)
    background: transparent
    border: none
    display: block
    float: right
    width: auto
    > li
      border-bottom: none
      float: left


.head-nav--open
  display: block

.logo
  display: block
  float: left
  > img
    display: block
    width: 172px
