.newsletter
  background: url('http://placehold.it/545x360') no-repeat center
  background-size: cover
  background-attachment: fixed
  color: #fff
  text-align: center
  h1
    color: #fff
    text-shadow: 2px 2px 4px rgba(#000, .4)

.newsletter__bg
  padding: 150px 0

.newsletter-form
  .input
    font-size: 150%
