.newsletter
  background: url(../img/bg.png) no-repeat center
  background-size: cover
  background-attachment: fixed
  color: #fff
  padding: 60px 0
  text-align: center
  text-shadow: 2px 2px 4px rgba(#000, .4)
  h1
    color: #fff
