@import url("https://fonts.googleapis.com/css?family=Raleway:200")
@import url("https://fonts.googleapis.com/css?family=Raleway:300")
@import url("https://fonts.googleapis.com/css?family=Raleway:800")

body
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,240,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=1 );
  font-family: "Raleway", "Open Sans", Arial, sans-serif
  font-weight: 200
  font-size: 18px
  color: #6d6d6d

h2,
h3,
h4
  font-weight: 300

h1,h2,h3,h4,h5,h6
  color: #444

a
  color: #00B7FF
  // text-decoration: none

a.none
  text-decoration: none

hr
  border: 0
  height: 0
  margin-top: 24px
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)

h1
  font-weight: 800
  font-size: 4em
  line-height: 1

button, input, select, textarea
  font-family: inherit
  font-size: 100%
  font-weight: 200
  margin: 0

